
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cleanify - Request Pickup</title>
  <link rel="stylesheet" href="/css/new.css">
</head>
<body>

<div class="container">
  <div class="form-section">
    <h1 class="logo">Cleanify</h1>
    <p class="tagline">Smart Garbage Pickup Request System</p>
    <h1>Request a Garbage Pickup</h1>

    <form id="pickupForm" action="/requests" method="post">
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" placeholder="Enter description" required>
      </div>

      <div class="form-group">
        <label for="location">Location</label>
        <input type="text"  name="location" id="location" placeholder="Enter your location" required>
      </div>

      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input type="text"  name="imageUrl" id="imageUrl" placeholder="Enter image URL" required>
      </div>

      <button type="submit" class="btn">Request Pickup</button>
    </form>
  </div>

  <div class="image-section">
    <img src="https://images.unsplash.com/photo-1592209962066-db0e9b617477?q=80&w=1378&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Recycle Bin" id="previewImage">
  </div>
</div>
<!-- 
<script src="script.js"></script> -->
</body>
</html>
